# 2013 and 2014 Merge Code

In [5]:
import pandas as pd

In [6]:
df_2013_fire_cause = pd.read_csv('../PDFs/raw_data/amanda_fire_cause_clean/2013_fire_cause_by_county.csv')
df_2013_fire_size = pd.read_csv('../PDFs/raw_data/amanda_fire_size_clean/2013_fire_size_by_county.csv')
df_2013_dollar_dmg_cause = pd.read_csv('../PDFs/raw_data/dollar_damage_cause_unit_county/aligned/2013_Redbook_DollarDamage_byCause_byUnit_byCounty.csv')
df_2013_dollar_dmg_size = pd.read_csv('../PDFs/raw_data/dollar_damage_size_unit_county/aligned/2013_Redbook_DollarDamage_Size.csv')
df_2013_num_acres_cause = pd.read_csv('../PDFs/raw_data/num_acres_burned_cause_unit_county/Aligned/2013_Redbook_Acres_byCause_byUnit_byCounty_North_Edit.csv')
df_2013_num_acres_burned_veg = pd.read_csv('../PDFs/raw_data/num_acres_burned_veg_unit_county/aligned/2013_Redbook_Acres_byType_byUnit_byCounty.csv')


df_2014_fire_cause = pd.read_csv('../PDFs/raw_data/amanda_fire_cause_clean/2014_fire_cause_by_county.csv')
df_2014_fire_size = pd.read_csv('../PDFs/raw_data/amanda_fire_size_clean/2014_fire_size_by_county.csv')
df_2014_dollar_dmg_cause = pd.read_csv('../PDFs/raw_data/dollar_damage_cause_unit_county/aligned/2014_Redbook_DollarDamagebyCause.csv')
df_2014_dollar_dmg_size = pd.read_csv('../PDFs/raw_data/dollar_damage_size_unit_county/aligned/2014_Redbook_DollarDamage_Size.csv')
df_2014_num_acres_cause = pd.read_csv('../PDFs/raw_data/num_acres_burned_cause_unit_county/Aligned/2014_Redbook_AcresbyCause_North_Edit.csv')
df_2014_num_acres_burned_veg = pd.read_csv('../PDFs/raw_data/num_acres_burned_veg_unit_county/aligned/2014_Redbook_AcresbyVegType.csv')

In [17]:
def lower_case_columns(df, df2 =None, df3 = None, df4 = None, df5= None, df6= None, year=None):
    def lowering(df):
        lowered_columns = []
        columns = df.columns
        for item in columns:
            lowered_columns.append(item.lower())
        lowered_columns[0] = 'county' #fixes the county index issue.
        df.columns = lowered_columns
        return df
    df = lowering(df)
    df2 = lowering(df2)
    df3 = lowering(df3)
    df4 = lowering(df4)
    df5 = lowering(df5)
    df6 = lowering(df6)
    #decided to just throw the merge code here too.
    df = pd.merge(df, df2, how = 'outer', on = 'county')
    df = pd.merge(df, df3, how = 'outer', on = 'county')
    df = pd.merge(df, df4, how = 'outer', on = 'county')
    df = pd.merge(df, df5, how = 'outer', on = 'county')
    df = pd.merge(df, df6, how = 'outer', on = 'county')
    year = str(year)
    df['county_year'] = df['county'] + '_'+year
    return df

,county,arson_x,campfire_x,debris burning_x,elec. power_x,equip. use_x,ltng._x,misc._x,p-w-f_x,railroad_x,...,region,.25 acres or <_y,.26-9.99 acres_y,10-99 acres_y,100-299 acres_y,300-999 acres_y,1000-4999 acres_y,5000 acres >_y,year,region
0,Alameda,1.0,0.0,1.0,7.0,8.0,0.0,1.0,0.0,0.0,...,north,"$2,250","$3,702","$117,923","$18,250",$0,$0,$0,2013.0,north
1,Amador,5.0,0.0,20.0,7.0,5.0,0.0,14.0,1.0,0.0,...,north,"$1,500",$550,$0,$0,$0,$0,$0,2013.0,north
2,Butte,13.0,6.0,39.0,15.0,9.0,15.0,50.0,8.0,0.0,...,north,"$25,152","$21,100","$119,000",$0,"$625,000","$53,524",$0,2013.0,north
3,Butte,13.0,6.0,39.0,15.0,9.0,15.0,50.0,8.0,0.0,...,north,"$25,152","$21,100","$119,000",$0,"$625,000","$53,524",$0,2013.0,north
4,Calaveras,4.0,3.0,22.0,9.0,11.0,0.0,7.0,3.0,0.0,...,south,"$3,145","$20,499","$25,000",$0,$0,$0,$0,2013.0,south

In [18]:
df_2013 = lower_case_columns(df_2013_fire_cause, 
                        df_2013_fire_size, 
                        df_2013_num_acres_cause, 
                        df_2013_num_acres_burned_veg,
                        df_2013_dollar_dmg_cause, 
                        df_2013_dollar_dmg_size,
                            2013)

In [9]:
#df_2013.fillna(0, inplace =True)

In [19]:
df_2013.to_csv('../CSVs/data_2013.csv')

In [20]:
df_2014 = lower_case_columns(df_2014_fire_cause, 
                        df_2014_fire_size, 
                        df_2014_num_acres_cause, 
                        df_2014_num_acres_burned_veg,
                        df_2014_dollar_dmg_cause, 
                        df_2014_dollar_dmg_size, 2014
                        )

In [21]:
df_2014.to_csv('../CSVs/data_2014.csv')